body {
  width: 100%;
  background-color: white;
  margin: 0px;
}

.divHeader {
  display: flex;
  flex-flow: row;
  width: 100%;
  font-weight: bold;
  font-size: 8pt;

}

.leftSideHeader {
  display: flex;
  flex-flow: row;
  width: 45%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  padding-bottom: 20px;
  margin-top: 3%;
  border-bottom: 2px solid blue;
}

.logoHeader {
  display: flex;
  flex-flow: row;
  width: 10%;
  font-weight: bold;
  font-size: 8pt;
}

.rightSideHeader {
  display: flex;
  flex-flow: row;
  width: 45%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  margin-left: 10px;
  margin-top: 3%;
  padding-bottom: 20px;
  border-bottom: 2px solid blue;
}

.phones {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 10%;
  font-weight: bold;
  font-size: 7pt;
  line-height: 0pt;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0px;
  padding: 0px;
}

.imgAndPhones {
  display: flex;
  flex-flow: row;
  width: 30%;
  height: 10%;
  font-weight: bold;
  font-size: 7pt;
  line-height: 0pt;
  align-items: center;
  justify-content: flex-end;
  margin-top: -25px;
  padding: 0px;
}

.iconPhones {
  display: flex;
  flex-flow: row;
  width: 20px;
  height: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: -0px;
  margin-left: 10px;
  padding: 0px;
}

.divFooter {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0px;
}

.leftSideFooter {
  display: flex;
  flex-flow: row;
  width: 45%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  text-decoration: none;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid blue;
}

.logoFooter {
  display: flex;
  flex-flow: row;
  width: 10%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  align-items: center;
}

.rightSideFooter {
  display: flex;
  flex-flow: row;
  width: 45%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid blue;
}

.phonesFooter {
  display: flex;
  flex-flow: column;
  width: 25%;
  height: 20%;
  font-weight: bold;
  font-size: 8pt;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}

.afterFooter {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 1%;
}

.rights {
  display: flex;
  flex-flow: column;
  width: 20%;
  text-align: left;
  padding-left: 2%;
  font-size: 7pt;
}

.socialIcons {
  display: flex;
  flex-flow: row;
  width: 20%;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 1%;
}

.img {
  width: 20px;
  height: 20px;
}

.nothing {
  display: flex;
  width: 10%;
}

.iconsAndText {
  display: flex;
  flex-flow: row;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  font-size: 8pt;
  margin: 0px;
}

.phonesAndImg {
  display: flex;
  flex-flow: row;
  width: 20%;
  padding-top: 1%;
}

.imgNearPhone {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.number {
  display: flex;
  flex-flow: column;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 7pt;
  line-height: 0;
}

.number2 {
  display: flex;
  flex-flow: column;
  padding-left: 5%;
  border-left: 1px solid grey;
  line-height: 0;
  font-size: 7pt;
}

.rights600px {
  display: none;
  width: 100%;
  height: 40px;
  background-color: blue;
  font-size: 7pt;
  color: white;
  text-align: center;
  padding-top: 2px;
}



.wrapper {
  display: none;
  margin: 0;
  width: 320px;
  background-color: blue;
  position: relative;
  height: 40px;
  color: white;
  text-align: center;
}

#check-menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: white;
  transition: 0.5s all;
}

.second {
  top : 18px;
}

.third {
  top : 18px;
}

.fourth {
  top: 28px;
}

.main-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.link {
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: blue;
  border-top: 1px solid grey;
}



#check-menu:checked ~ .main-menu {
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .first {
  display: none;
}

#check-menu:checked ~ .second {
  transform: rotate(45deg);
}

#check-menu:checked ~ .third {
  transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth {
  display: none;
}

@media (max-width: 1200px) {
  .divHeader {display: none;}
}

@media (max-width: 1200px) {
.wrapper {display: block; width:100%;
     }
}

@media (max-width: 1200px) {
  .divFooter {display: none;}
}

@media (max-width: 1200px) {
  .afterFooter {display: none;}
}

@media (max-width: 1200px) {
  .rights600px {display: block; }
}
